.watch {
  display: flex;
  padding: 30px;
}

.watch__video--info {
  margin-top: 15px;
  padding-left: 70px;
}

.info__hashtags {
  color: blue;
}

.info__channel {
  display: flex;
}

.channel--overview {
  padding-left: 20px;
}
