.header {
  background-color: white;
  padding: 1vmin 0;
  /* position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box; */
}

.header-main {
  height: 5vmin;
  padding: 0.5vmin 1.5vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-left: 3vmin;
  width: 17vmin;
  display: flex;
}

.header-logo > div > span {
  margin-left: 2px;
  font-size: 0.7rem;
  color: #606060;
  height: inherit;
}
