.navbar {
  max-width: 100%;
  background-color: white;
  height: 100vh;
}

.navbar-item {
  height: 2.5rem;
}

.navbar-icons {
  margin: 0px 1.5rem;
}

.navbar-item > p {
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  padding: 0px !important;
}

.MuiGrid-grid-xs-2 {
  flex-grow: 0;
  max-width: 13.666667% !important;
  flex-basis: 16.666667%;
}
