/* PC */
.videodetails {
  flex-basis: 23%;
  margin-top: 15px;
  max-width: 360px;
}

.videodetails--result {
  display: inline-flex;
}

.videodetails--watch {
  display: inline-flex;
  margin-bottom: 10px;
}

.videotitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.videodetails__content {
  display: flex;
}

.videodetails__content--result {
  display: block;
  margin-left: 10px;
}
.videodetais__content--result--title {
  padding: 0 10px;
}
.videodetais__content--result--channel,
.videodetails__content--result--description {
  padding: 5px 10px;
}

.videodetais__content--result--channel {
  display: flex;
  align-items: center;
}

.videodetails__content--info {
  margin-left: 20px;
}

/* image */
.videodetails__img {
  width: 360px;
  height: 200px;
  margin-bottom: 15px;
}

.videodetals__img--watch {
  width: 170px;
  height: 100px;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
  .videodetails {
    margin-right: 75px;
  }
  .videodetails__img {
    /* width: 400px;
    height: 260px; */
  }
}
