/* PC */
.videodetails {
  flex-basis: 23%;
  margin-top: 30px;
}

.videodetails--result {
  display: inline-flex;
}

.videodetails__content {
  display: flex;
}

.videodetails__content--result {
  display: block;
  margin-left: 10px;
}
.videodetails__content--result p {
  margin: 0;
}
.videodetais__content--result--title {
  padding: 0 10px;
}
.videodetais__content--result--channel,
.videodetails__content--result--description {
  padding: 5px 10px;
}

.videodetais__content--result--channel {
  display: flex;
  align-items: center;
}

.videodetails__content--info h3,
h4 {
  margin: 0;
}

.videodetails__content--info h3 {
  overflow: hidden;
}

.videodetails__img {
  width: 320px;
  height: 200px;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
  .videodetails {
    margin-right: 75px;
  }
  .videodetails__img {
    width: 480px;
    height: 275px;
  }
}
