/* PC */

/* Home Page */
.videodetails {
  flex-basis: 23%;
  margin-top: 15px;
  max-width: 360px;
}

.videodetails--watch {
  display: inline-flex;
  margin-bottom: 10px;
}

.videotitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.videodetails__content {
  display: flex;
}

/* Result page */

.videodetails--result {
  display: inline-flex;
}

.duration--result {
  bottom: 20px !important;
}

.videodetails__content--result {
  display: block;
  margin-left: 20px;
}

.videodetails__content--result > p {
  font-size: 12px;
}

.videodetais__content--result--channel,
.videodetails__content--result--description {
  padding: 5px 0;
}

.videodetais__content--result--channel {
  display: flex;
  align-items: center;
  width: max-content;
}

.videodetails__content--info {
  margin-left: 20px;
}

.videodetails__content--live {
  color: red;
  border: 1px solid red;
  width: fit-content;
  padding: 3px;
  border-radius: 6%;
}

/* image */
.videodetails__img {
  width: 360px;
  height: 200px;
  margin-bottom: 15px;
  position: relative;
}

.duration {
  position: absolute;
  bottom: -2px;
  right: 0;
  background-color: rgb(0, 0, 0, 0.88);
  color: white;
  margin: 5px;
  border-radius: 5%;
}

.videodetals__img--watch {
  width: 170px;
  height: 100px;
}

.link {
  text-decoration: none;
  color: black;
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
  .videodetails {
    margin-right: 75px;
  }
  .videodetails__img {
    /* width: 400px;
    height: 260px; */
  }
}
